.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    padding: 1em;
    margin: 1em;
    background-color: #303036;
    border-radius: 8px;
}

.card-container img {
    max-width: 100%;
}

.card-container #notfound-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.card-container #notfound-icon svg {
    font-size: 4em;
    margin-bottom: 10px;
    color: #bfe9e5;
}

.card-container #notfound-icon p {
    font-size: 1.5em;
    color: #bfe9e5;
}

.card-container h2 {
    color: #4dc2b6;
}

.card-container img,
.card-container h2,
#date,
#vote-average {
    margin-bottom: 0.8em;
}


#vote-average,
#date {
    font-size: 1.1em;
}

#vote-average svg {
    color: #FFD700;
}

.card-container a {
    background-color:#009787;
    padding: 1em;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #f5f5f5;
    transition: 0.3s;
}

.card-container a:hover {
    background-color: #eaeaeb;
    color: #009787;
}