.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.7rem 3.1rem;
    background-color: #18181a;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    font-weight: bold;
}

.logo a {
    color: #f5f5f5;
}

.logo span {
    color: #4dc2b6;
}

.logo svg {
    margin-right: 1rem;
    color: #009787;
}

@media (max-width: 960px) {
    .logo {
        font-size: 3.4rem;
    }
}